<!DOCTYPE html>
<html>
  <head>
    <title>Jobs Board</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="nav navbar navbar-default">
  		<div class="container">
  			<div class="navbar-brand"><%= link_to "Rails Jobs" ,root_path%> </div>
	  			<ul class="nav navbar-nav">
	  				<% Category.all.each do |category| %>
							<li><%= link_to category.name, jobs_path(category: category.name) %></li>
	  				<% end %>
	  				<%= link_to "New Job", new_job_path, class: "navbar-text" %>
	  				<% if user_signed_in? %>
		  				<li><%= link_to "Account", edit_user_registration_path %></li>
		  				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	  				<% else %>
							<li class="pull-right"><%= link_to "Sign In", new_user_session_path %></li>
							<li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
	  				<% end %>
	  			</ul>
	    	</div>	
    	</div>
    	<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, class: "alert alert-info" %>
			<% end %>
  	<div class="container">
  		<%= yield %>
  	</div>    
  </body>
</html>
